<h2><a [routerLink]="['/dashboard']">Home</a> | 
  <a [routerLink]="['/add']">Add a Question</a>
  <a href="">Logout</a>
</h2>
<h1>New Question</h1>
<div id="form">
    <form (submit)="addQuestion()" #form="ngForm">
      <label for="q">Question:</label>
      <input name="q" rows="2" required minlength="15" [(ngModel)]='question.q' #q='ngModel' />
      <div class="errors" *ngIf="q.invalid && (q.dirty || q.touched)">
        <div class="errors" *ngIf="q?.errors.required">Question is required.</div>
        <div class="errors" *ngIf="q?.errors.minlength">Question should be at least 15 characters long.</div>
      </div>
      <br>
      
      <label for="correct">Correct Answer:</label>
      <input name="correct" rows="2" required minlength="2" [(ngModel)]='question.correct' #correct='ngModel' />
      <div class="errors" *ngIf="correct.invalid && (correct.dirty || correct.touched)">
        <div class="errors" *ngIf="correct?.errors.required">Answer is required.</div>
        <div class="errors" *ngIf="correct?.errors.minlength">Answer should be at least 2 characters long.</div>
      </div>
      <br>      

      <label for="fake1">Fake Answer 1:</label>
      <input name="fake1" rows="2" required minlength="2" [(ngModel)]='question.fake1' #fake1='ngModel' />
      <div class="errors" *ngIf="q.invalid && (fake1.dirty || fake1.touched)">
        <div class="errors" *ngIf="fake1?.errors.required">Answer is required.</div>
        <div class="errors" *ngIf="fake1?.errors.minlength">Answer should be at least 2 characters long.</div>
      </div>
      <br>      

      <label for="fake2">Fake Answer 2:</label>
      <input name="fake2" rows="2" required minlength="2" [(ngModel)]='question.fake2' #fake2='ngModel' />
      <div class="errors" *ngIf="fake2.invalid && (fake2.dirty || fake2.touched)">
        <div class="errors" *ngIf="fake2?.errors.required">Answer is required.</div>
        <div class="errors" *ngIf="fake2?.errors.minlength">Answer should be at least 2 characters long.</div>
      </div>
      <button type="submit" [disabled]="form.invalid">Add Question</button>      
    </form>
  </div>